<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huishen.ecoach"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 友盟推送所需权限 BEGIN -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】如果需要设置前台是否显示通知，需要设置这个权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 友盟推送所需权限 END -->
    
    <!-- 百度地图所需权限 BEGIN-->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 百度地图所需权限 END -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- 友盟推送元数据 BEGIN -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54efd698fd98c5052100058f" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="11c5c7d19bac0a804a08513bddee6150" >
        </meta-data>
        <!-- 友盟推送元数据 END -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.login.VerifyPhoneActivity"
            android:label="@string/title_activity_verify_phone"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.login.ServiceInfoActivity"
            android:label="@string/title_activity_service_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.login.ImageBrowseActivity"
            android:label="@string/title_activity_image_browse" >
        </activity>
        <activity
            android:name=".ui.pcenter.UserGuideActivity"
            android:label="@string/title_activity_user_guide" >
        </activity>
        <activity
            android:name=".ui.pcenter.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".ui.pcenter.ViewProfileActivity"
            android:label="@string/title_activity_view_profile" >
        </activity>
        <activity
            android:name=".ui.pcenter.ModifyPasswordActivity"
            android:label="@string/title_activity_modify_password" >
        </activity>
        <activity
            android:name=".ui.pcenter.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".ui.pcenter.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name=".ui.msg.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name=".ui.order.OrderListActivity"
            android:label="@string/title_activity_order_list" >
        </activity>
        <activity
            android:name=".ui.order.OrderStateActivity"
            android:label="@string/title_activity_order_state" >
        </activity>
        <activity
            android:name=".ui.order.ComplaintActivity"
            android:label="@string/title_activity_complaint" >
        </activity>
        <activity
            android:name=".ui.appointment.CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.login.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password" >
        </activity>
        <activity
            android:name=".ui.order.RealtimeSnapupActivity"
            android:label="@string/title_activity_realtime_snapup"
            android:theme="@style/DialogActivityNoTitlebar" >
        </activity>

        <receiver android:name=".umeng.DefaultPushDataReceiver" >
            <intent-filter>
                <action android:name="com.huishen.ecoach.UNKNOWN_PUSHDATA" />
                <action android:name="com.huishen.ecoach.NEW_ORDER" />
            </intent-filter>
        </receiver>
        <!-- 友盟推送相关组件 BEGIN -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.huishen.ecoach.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushService_v1" >
            <intent-filter>
                <action android:name="com.huishen.ecoach.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.huishen.ecoach.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":pushService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- 友盟推送相关组件 END -->
        <!-- 百度地图相关组件 BEGIN -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8S8kdIocF7LvaPhwbj7sTfEd" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度地图相关组件 END -->

        <activity
            android:name=".ui.order.SnapSuccessActivity"
            android:label="@string/title_activity_snap_success" >
        </activity>
        <activity
            android:name="com.huishen.ecoach.ui.appointment.BookSettingActivity"
            android:label="@string/title_activity_book_setting" >
        </activity>
    </application>
  <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>